* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 20px;
}

a {
    display: block;
}

body,
header {
    display: grid;
    grid-template-columns: repeat(12, minmax(122px, 1fr));
    grid-column-gap: 16px;
}

header {
    /*background: pink;*/
    grid-column: 1 / 13;

    display: grid;
    padding: 10px 0;
}

.header-logo {
    grid-column: 2/4;
}

.header-nav {
    /*background-color: orange;*/
    grid-column: 9/12;
    display: flex;
    justify-content: space-between;
}

.header-nav-link {
    padding-left: 23px;
    font-size: 20px;
}

.hero-main {
    /*background-color: lightblue;*/
    grid-column: 4/8;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 120px;
}

.hero-main h2 {
    font-size: 45px;
}

.hero-main button {
    margin-top: 15px;
    width: 257px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #01C666;
    font-size: 20px;
}

.hero-image {
    text-align: right;
    /*background-color: coral;*/
    grid-column: 8/10;
}

.hero-image img {
    width: 203.8px;
    height: 405px;
}

.intro-header {
    grid-column: 4/10;
    text-align: center;
}


.intro-card-list {
    grid-column: 2/12;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 14px;
}

.latest-articles-header {
    grid-column: 2/12;
}

.latest-articles-list {
    grid-column: 2/12;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 14px;
}

footer {
    color: white;
    background-color: #01C666;
    grid-column: 1/13;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.footer-logo {
    grid-column: 2/4;
}

.footer-request-invite {
    display: block
}

.footer-link-list {
    grid-column: 5/7;
    column-count: 2;
}

.footer-link {
    padding-bottom: 10px;
}

.footer-social {
    grid-column: 9/12;

    display: flex;
    justify-content: flex-end;
}
